extends ./layout.jade

block body
    div.welcome
        img(src='/images/powerstart.png', class='star')
        != pagecontent.getStructuredText('page.title').asHtml(ctx.linkResolver)
        != pagecontent.getStructuredText('page.description').asHtml(ctx.linkResolver)
